#include <dt-bindings/zmk/physical_layout.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
        zephyr,display = &oled;
        zmk,physical-layout = &physical_layout0;
    };

    /* 1. KHAI BÁO MA TRẬN PHÍM (MATRIX) */
    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row"; 
        
        row-gpios
            = <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Hàng trên
            , <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Hàng dưới
            ;
        col-gpios
            = <&gpio0 22 GPIO_ACTIVE_HIGH> // Cột 1
            , <&gpio1 0  GPIO_ACTIVE_HIGH> // Cột 2
            , <&gpio1 4  GPIO_ACTIVE_HIGH> // Cột 3
            , <&gpio0 11 GPIO_ACTIVE_HIGH> // Cột 4
            ;
    };

    /* 2. MA TRẬN ẢO */
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <4>;
        rows = <2>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3)
        >;
    };

    /* 3. TỌA ĐỘ VẬT LÝ CHO ZMK STUDIO */
    key0: key0 { compatible = "zmk,key-physical-attrs"; x = <0>;   y = <0>;   width = <100>; height = <100>; };
    key1: key1 { compatible = "zmk,key-physical-attrs"; x = <100>; y = <0>;   width = <100>; height = <100>; };
    key2: key2 { compatible = "zmk,key-physical-attrs"; x = <200>; y = <0>;   width = <100>; height = <100>; };
    key3: key3 { compatible = "zmk,key-physical-attrs"; x = <300>; y = <0>;   width = <100>; height = <100>; };
    
    key4: key4 { compatible = "zmk,key-physical-attrs"; x = <0>;   y = <100>; width = <100>; height = <100>; };
    key5: key5 { compatible = "zmk,key-physical-attrs"; x = <100>; y = <100>; width = <100>; height = <100>; };
    key6: key6 { compatible = "zmk,key-physical-attrs"; x = <200>; y = <100>; width = <100>; height = <100>; };
    key7: key7 { compatible = "zmk,key-physical-attrs"; x = <300>; y = <100>; width = <100>; height = <100>; };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Macropad V2";
        kscan = <&kscan0>;
        matrix-transform = <&default_transform>;
        keys = <&key0 &key1 &key2 &key3 &key4 &key5 &key6 &key7>;
    };

    /* 4. KHAI BÁO NÚM XOAY EC11 */
    encoder: encoder {
        compatible = "alps,ec11";
        label = "ENCODER";
        a-gpios = <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; 
        b-gpios = <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>; 
        steps = <80>;
        status = "okay";
    };

    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
        triggers-per-rotation = <20>;
    };
};

/* 5. KHAI BÁO MÀN HÌNH OLED I2C */
&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 13)>, // Chân SDA 113
                    <NRF_PSEL(TWIM_SCL, 1, 11)>; // Chân SCL 111
        };
    };
    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 13)>,
                    <NRF_PSEL(TWIM_SCL, 1, 11)>;
            low-power-enable;
        };
    };
};

&i2c0 {
    status = "okay";
    compatible = "nordic,nrf-twi";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        prechargep = <0x22>;
    };
};
